body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

#matrixCanvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#computer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 400px;
  height: 400px;
  background: #333;
  border: 5px solid #555;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
}

#screen {
  position: relative;
  width: 90%;
  height: 80%;
  margin: 10px auto;
  background: #000;
  color: #0F0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Angepasst, um Text oben zu halten */
  border: 2px solid #0F0;
  box-shadow: inset 0 0 10px rgba(0, 255, 0, 0.5);
}

#textContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  color: green;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

#cursor {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#matrixText {
  white-space: pre; /* Beibehaltung der Leerzeichen */
}

/* ... existierender CSS-Code */

#menu {
  margin-top: 5px;
  color: #0F0;
  font-family: 'Courier New', Courier, monospace;
}

#menu h3 {
  font-size: 1em;
  margin: 0;
  color: #0F0;
  font-family: 'Courier New', Courier, monospace;
}

#menu ul {
  list-style-type: none;
  padding: 0.5em;
}

#menu li {
  margin: 5px 0;
  padding: 0px;
  background-color: #000000;
  color: #0F0;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

#menu li:hover {
  background-color: #0F0;
  color: #000;
}
